.project-card {
  background: #fff;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* VIEWPORT */
.project-preview {
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

/* IMAGE */
.project-preview img {
  width: 100%;
  transition: transform 6s linear;
}

/* AUTO SCROLL LIKE PINTEREST */
.project-preview:hover img {
  transform: translateY(-60%);
}

.preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff !important;
  width: 80%;
  height: 85vh;
  border-radius: 15px;
  position: relative;
  padding: 25px;
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
}

/* SCROLLABLE TEMPLATE */
.template-scroll {
  height: 100%;
  overflow-y: auto;
}

.template-scroll img {
  width: 100%;
}

/* HORIZONTAL SCROLL */
.projects-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #f17a22 #f1f1f1;
}

.projects-scroll-container::-webkit-scrollbar {
  height: 5px;
}

.projects-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.projects-scroll-container::-webkit-scrollbar-thumb {
  background: #f17a22;
  border-radius: 10px;
}

.projects-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #d86a22;
}

